.active {
	width: 138px;
	height: 74px;
	top:140px;
	margin-left: 140px; 
	margin-right: 157px;
	vertical-align: middle;
}
.navigation {
   	  display: inline-block;
   	  vertical-align: middle;
   	  vertical-align: middle;
   	  color: #181C28; 
   	  font-family: 'Poppins', sans-serif;
       }

  
   .nav-li {
   	display: inline-block;
   	margin-right: 25px;
   	font-size: 16px;
   	}
   	.container {
   		margin-top: 100px;
   		
   		
   	}
   	.title {
   		color: #FF7A00;
   		margin-left: 172px;
   		margin-top: 84px;
   		margin-bottom: 81px;
   		font-family: 'Poppins', sans-serif;
   	}
   	.images {
   		width: 1600px;


   	}
.photo1 {
	
	display: inline-block;
	margin:0 auto;
	
}
.photo2 {
	
	display: inline-block;
	margin:0 auto;
	

}
.header1 {
	font-size: 30px;
	display: inline-block;
	
}

.left-block {
	width: 636px;
	display: inline-block;
	margin-left:130px;

}
.right-block {
	width: 636px;
	display: inline-block;
	margin-left:28px;
	
}
.title1 {
	font-size: 36px;
	color: #181C28;
	margin-top: 20px;
	margin-bottom: 22px;
	font-family: 'Playfair Display', serif;
}
.paragraph {
	font-size: 16px;
	color: #7B7B7B;
	font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

}
.read-more {
	color: #FF7A00;
	font-size: 14px;
	font-family: 'Playfair Display', serif;
font-family:'Poppins', sans-serif;
    margin-top: 13px;
    margin-bottom: 57px;
    
    display: inline-block;
}

.read-more1 {
	color: #FF7A00;
	font-size: 14px;
	margin-top: 13px;
	font-family: 'Playfair Display', serif;
font-family:'Poppins', sans-serif;
display: inline-block;}

.read-more1::after {
	content: ' ';
	width: 25px;
	height: 3px;
	margin-left: 30px;
	background-color: #FF7A00;
	display: inline-block;

}

.read-more::after {
	content: ' ';
	width: 25px;
	height: 3px;
	margin-left: 30px;
	background-color: #FF7A00;
	display: inline-block;
}


/*.section2*/
.box {
	width: 190PX;
	height: 70PX;
	top: 705px;
	left: 2168px;
	background-color: #FF7A00;
	padding-top: 23PX;
	padding-bottom: 23PX;
	padding-right: 30PX;
	padding-left: 30PX;
	box-sizing: border-box;
	font-size: 16px;
	margin-top: 66px;
	margin-left: 705px;
	margin-bottom: 134px; }
 .nav-lin {
   	display: inline-block;
   	font-size: 24px;
   	margin-top: 82px;
   	margin-right: 30px;
   	margin-left: 138px;
   	}
	
	.groups {
		width: 1600;
		margin-top: 15px;
		font-size: 16px;
		color: #7B7B7B; 
	}
	.first-block {
		display: inline-block;
		margin-left: 138px;
	}
	.second-block {
		display: inline-block;
		margin-left: 217px;

	}
	.therd-block
	{display: inline-block;
		margin-left: 170px;

		

	}
   .fourth-block {
   	display: inline-block;
   	margin-left:290px;


   	 
   }
   .mastercard {
    vertical-align: middle;
   }
   .visa {
    vertical-align: middle;
   }
   .express {
   	vertical-align: middle;
   }

   /*header styles*/
   .header-wraper {
   	position: fixed;
   }
